/* font-styles  */
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


/* Shared Styles  */
.dark-1 {
    color: rgba(13, 19, 33, 1.00);
    font-size: 16px;
    font-weight: 400;
}

.dark-2 {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: bold;
}

.btn-primary {
    margin-top: 32px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 19, 33, 1.00);
    font-family: "Azeret Mono", monospace;

}

.text-center {
    text-align: center;
}


/* nav-styles */
nav {
    display: flex;
    justify-content: space-between;
}

/* hero section styles  */

.hero-section {
    background-image: url(../images/Hero-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;


}

.hero-title {
    font-weight: bolder;
    font-size: 48px;
}

.hero-sub-title {
    font-weight: 400px;
    font-size: 16px;
}

.contact-btn {
    background-color: #0D1321;
    color: #FFFFFF;
    font-weight: 700;
    padding: 21px 24px;
    border-radius: 8px;

}

/* main section styles  */

main {
    max-width: 1140px;
    margin: 0 auto;

}

/* details section style  */

.detail {
    display: flex;
    justify-content: space-between;
    max-width: 946px;
    margin: 32px auto;
    background-color: white;
    padding: 48px 48px;

}

.details-container {
    background-color: rgba(13, 19, 33, 0.02);
    ;
    padding: 50px;

}

/* inspiration section styles  */
.inspiration-content {
    padding: 32px;
}

.iframe-border {
    border-radius: 16px;
    border: 1px solid black
}

/* current target styles  */

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
}